body { 
    font-family: 'Playfair Display', serif;
}
.jumbotron {
    background-image: url("../images/washington-dc.JPG");
    background-position: 0% 60%;
    height:500px;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.25em 0.25em 0.25em; 
}